[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = git@github.com:nlohmann/json.git
[submodule "thirdparty/bullet3"]
	path = thirdparty/bullet3
	url = git@github.com:bulletphysics/bullet3.git
